.rv-videosection {
  width: 100%;
  height: 460px;
  overflow: hidden;
  position: relative;
}
.rv-imagesection {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.rv-imagesection img {
  width: 100%;
  object-fit: cover;
}
#videoposterimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
#rv300-feature-image .rv-feature-nav .nav-pills .nav-link {
  background-color: rgba(0, 0, 0, 0.5490196078431373);
}
#rv300-feature-image .rv-feature-nav .nav .nav-link.active {
  background: #0f0f0f;
}
.rv-features {
  background: #ffffff;
}
.rv-videosection .playvideo {
  width: 80px;
  height: 80px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 9;
  cursor: pointer;
  position: absolute;
}
.rv-videosection video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.rv-feature-nav .nav {
  margin-top: -52px;
  position: relative;
  z-index: 9;
}
.ftr_tbs_wrp .tbs_view_sec {
  padding: 0px 200px;
  background: #0f0f0f;
}
.tabs_rv_ftr {
  background: #0f0f0f;
  display: flex;
  padding: 30px 0px;
  justify-content: space-between;
  align-items: center;
}
.tabs_rv_ftr .line_dvd {
  width: 1px;
  height: 100px;
  background: #3f3f3f;
}
.tabs_rv_ftr .ftr_item:last-child {
  border-right: 0;
}
.ftr_item h6 {
  color: #797979;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
}
.ftr_item .ftr_cntr {
  font-size: 54px;
  font-weight: 800;
  display: flex;
}
.ftr_item .ftr_cntr span.twonum {
  width: 80px;
  text-align: center;
}
.ftr_item .ftr_cntr span.threeNum {
  width: 105px;
  text-align: center;
}
.rv-feature-nav .tab-content .rv-bikedetails h3 {
  font-size: 60px;
  line-height: normal;
  padding: 30px 0 0;
  text-align: left;
  font-weight: 400;
  text-transform: lowercase;
  padding-left: 120px;
}
.rv-feature-nav .tab-content .rv-bikedetails h3 span {
  display: block;
  font-size: 25px;
  font-weight: 300;
  padding-left: 6px;
}
.bothside-bdr {
  border-left: 1px solid #b5b5b569;
  border-right: 1px solid #b5b5b569;
}
.rv-bikedetails-full {
  color: #000000;
}
.hide_img_sec {
  width: 100%;
  margin: 40px 0;
  text-align: center;
}
.hide_img_sec .hide_img {
  margin-bottom: 40px;
}
.hide_img_sec .hide_img img {
  width: 100%;
}
.hide_img_sec a.openhidden img {
  margin-bottom: 15px;
}
.hide_img_sec a.openhidden span:after {
  content: "Expand Specs";
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #000;
}
.hide_img_sec a.openhidden span.collapseTxt:after {
  content: "Collapse Specs";
}
.rv-specification h3 {
  text-align: center;
}
.rv-specification .table td,
.table th {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6 !important;
  border-collapse: collapse;
  border-bottom: none !important;
}
.rv-bikedetails-full .switch-sec {
  width: 300px;
  height: 30px;
  background: url(../images/expend-on.png) top center no-repeat;
  background-size: 24px;
  margin: 20px auto 40px;
  color: #000000;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.rv-bikedetails-full .switch-sec.bgchange123 {
  background: url(../images/expend-off.png) top center no-repeat;
  background-size: 24px;
}
.rv-bikedetails-full .hiddeninfo {
  display: none;
}
.hiddeninfo h4 {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  padding: 10px 0;
}
.ferturesec123 {
  padding: 30px;
}
.hit-the-road {
  width: 100%;
  background: url(../images/comfort-banner1.jpg) no-repeat top left;
  background-size: cover;
}
.rvbg2 {
  background: url(../images/redefining-banner.jpg) no-repeat top left;
  background-size: cover;
}
.rvbg3 {
  background: url(../images/safety-banner-banner.jpg) no-repeat top left;
  background-size: cover;
}
.rv300-bg1 {
  background: url(../images/rv-300-bg1.jpg) no-repeat top center;
  background-size: cover;
}
.rv300-bg2 {
  background: url(../images/rv-300-bg2.jpg) no-repeat top center;
  background-size: cover;
}
.rv300-bg3 {
  background: url(../images/rv-300-bg3-v1.jpg) no-repeat top center;
  background-size: cover;
}
.titleand-dis {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 9;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
.titleand-dis h3.cmnheading.h34 {
  padding-bottom: 30px;
  font-size: 26px;
}
.titleand-dis h3.cmnheading::after {
  bottom: 14px;
}
.titleand-dis p {
  font-weight: 600;
  line-height: 25px;
}
.playbutton img {
  max-width: 50px;
  cursor: pointer;
  margin-top: 60px;
  border: 10px solid #8686861f;
  border-radius: 50%;
  box-sizing: content-box;
}
.playbutton i {
  font-size: 26px;
  background: #fff;
  color: #000;
  border-radius: 50%;
  padding: 2px 10px;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
  border: 2px solid #fff;
}
.playbutton i:hover {
  background: none;
  color: #fff;
  border-color: #fff;
  border-width: 2px;
  border: 2px solid #fff;
}
.bikesoundgap p {
  font-weight: 600;
}
.clrwhite {
  color: #ffffff !important;
}
.cmnheading {
  font-weight: 800;
  line-height: 28px;
  position: relative;
  margin: 0;
  text-transform: uppercase;
}
h3.cmnheading.h28 {
  padding-bottom: 60px;
}
h3.cmnheading.h34 {
  padding-bottom: 60px;
}
.cmnheading::after {
  content: "";
  width: 35px;
  height: 2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9;
  background: #000000;
  bottom: 36px;
  position: absolute;
}
.cmnheading.clrwhite:after {
  background: #ffffff;
}
.h34 {
  font-size: 28px;
  padding: 10px 0 30px 0;
}
.h28 {
  font-size: 22px;
  padding: 10px 0 30px 0;
  line-height: 30px;
}
.charging-sec {
  padding: 10px 0;
  margin-top: 30px;
  background: url(../images/reliable-banner.jpg) no-repeat top left;
  background-size: cover;
  height: 90vh;
}
.rv300charging {
  background: url(../images/rv-300-charging.jpg) no-repeat top left;
}
.plugin-charge {
  position: absolute;
  background: #fff;
  width: 290px;
  padding: 20px 50px 20px 20px;
  top: 80px;
  right: 0;
}
.plugin-charge h3 {
  font-weight: 800;
  font-size: 19px;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
  line-height: 25px;
}
.plugin-charge p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 22px;
}
.follow-link {
  padding: 20px 0;
}
.expnow {
  background: #000;
  background-size: 100% 100%;
  padding: 13px 20px;
  color: #fff;
  text-transform: uppercase;
  color: #ffffff;
  transition: all ease-in 0.3s;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -1px;
}
.expnow:hover {
  color: #ffffff;
  background: #d9353d;
}
.rv300cta {
  background: -moz-linear-gradient(270deg, #999999 39%, #696969 86%);
  background: -webkit-gradient(
    linear,
    270deg,
    color-stop(39%, 999999),
    color-stop(86%, 696969)
  );
  background: -webkit-linear-gradient(270deg, #999999 39%, #696969 86%);
  background: -o-linear-gradient(270deg, #999999 39%, #696969 86%);
  background: -ms-linear-gradient(270deg, #999999 39%, #696969 86%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1');
  background: linear-gradient(270deg, #999999 39%, #696969 86%);
}
.rv300cta:hover {
  color: #ffffff;
  background-position: 186px;
}
.follow-link .btn-4 {
  display: block;
  margin: 10px 0;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: all ease-in-out 0.2s;
}
.follow-link .btn-4 span:first-child {
  display: block;
  padding: 20px;
}
.follow-link .btn-4:before {
  content: "";
  position: absolute;
  width: 20px;
  bottom: 0;
  left: 0;
  background: #000;
  z-index: 9;
  height: 1px;
  transition: all ease-in-out 0.2s;
}
.follow-link .btn-4:after {
  content: "";
  position: absolute;
  transition: all ease-in-out 0.2s;
  width: 1px;
  right: 0;
  top: 0;
  background: #000;
  z-index: 9;
  height: 20px;
}
.follow-link .btn-4 span:first-child:before {
  content: "";
  position: absolute;
  transition: all ease-in-out 0.2s;
  width: 100px;
  top: 0;
  left: 0;
  background: #000;
  z-index: 9;
  height: 1px;
}
.follow-link .btn-4 span:first-child:after {
  content: "";
  position: absolute;
  transition: all ease-in-out 0.2s;
  width: 100px;
  bottom: 0;
  right: 0;
  background: #000;
  z-index: 9;
  height: 1px;
}
.follow-link .btn-4 span:last-child:before {
  content: "";
  position: absolute;
  transition: all ease-in-out 0.2s;
  width: 1px;
  bottom: 0;
  left: 0;
  background: #000;
  z-index: 9;
  height: 20px;
}
.follow-link .btn-4 span:last-child:after {
  content: "";
  position: absolute;
  transition: all ease-in-out 0.2s;
  width: 20px;
  top: 0;
  right: 0;
  background: #000;
  z-index: 9;
  height: 1px;
}
.follow-link .btn-4:hover:after {
  height: 100%;
}
.follow-link .btn-4:hover:before {
  width: 100%;
}
.follow-link .btn-4:hover span:first-child:after {
  width: 100%;
}
.follow-link .btn-4:hover span:first-child:before {
  width: 100%;
}
.follow-link .btn-4:hover span:last-child:before {
  height: 100%;
}
#rv-400-gallery {
  position: relative;
}
#rv-400-gallery .owl-nav .fa {
  font-size: 24px;
}
#rv-400-gallery .owl-prev,
#rv-400-gallery .owl-next {
  position: absolute;
  top: calc(50% - 19px);
  background: #ffffff;
  color: rgb(223, 59, 56);
  border: 1px solid #fffefe;
  border-radius: 0;
  width: 32px;
  height: 50px;
  transition: all 400ms ease-in-out;
}
#rv-400-gallery .owl-prev:hover,
#rv-400-gallery .owl-prev:active,
#rv-400-gallery .owl-prev:focus,
#rv-400-gallery .owl-next:hover,
#rv-400-gallery .owl-next:active,
#rv-400-gallery .owl-next:focus {
  outline: none;
}
#rv-400-gallery .owl-prev {
  left: 23.5%;
}
#rv-400-gallery .owl-prev .fa {
  right: 0;
}
#rv-400-gallery .owl-next {
  right: 23.5%;
}
#rv-400-gallery .owl-next .fa {
  left: 2px;
}
#rv-400-gallery .owl-carousel .owl-item img {
  display: block;
  transform: scale(0.9);
}
#rv-400-gallery .owl-carousel .owl-item.active img {
  width: 100%;
  transform: scale(1);
}
.rv-pricingsec .price-choice .switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 35px;
}
.rv-pricingsec .price-choice .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.rv-pricingsec .price-choice .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.rv-pricingsec .price-choice .bilingoptions .slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 10px;
  bottom: 5px;
  background-color: #900000;
  -webkit-transition: 0.4s;
  border: 1px solid #900000;
  transition: 0.4s;
}
.rv-pricingsec .price-choice .bilingoptions.rv300switch .slider:before {
  background-color: #868686;
  border: 1px solid #868686;
}
.rv-pricingsec .price-choice .bilingoptions input:checked + .slider {
  background-color: transparent;
  border: 1px solid #900000;
}
.rv-pricingsec
  .price-choice
  .bilingoptions.rv300switch
  input:checked
  + .slider {
  border: 1px solid #868686;
}
.rv-pricingsec .price-choice .bilingoptions input:focus + .slider {
  background-color: transparent;
  border: 1px solid #900000;
}
.rv-pricingsec .price-choice .bilingoptions.rv300switch input:focus + .slider {
  border: 1px solid #868686;
}
.rv-pricingsec .price-choice input:checked + .slider:before {
  -webkit-transform: translateX(58px);
  -ms-transform: translateX(58px);
  transform: translateX(58px);
}
.rv-pricingsec .price-choice .bilingoptions .slider.round {
  border-radius: 34px;
  border: 1px solid #900000;
}
.rv-pricingsec .price-choice .bilingoptions.rv300switch .slider.round {
  border: 1px solid #868686;
}
.rv-pricingsec .price-choice .slider.round:before {
  border-radius: 50%;
}
.bilingoptions {
  margin: 20px 10px;
  font-weight: 600;
}
.price-description {
  padding: 30px 0;
}
.price-description .pricelist1 {
  height: 100%;
  border: 1px solid #f3eded;
  padding: 30px;
}
.price-description .pricelist1 h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}
.price-description .pricelist1 p {
  font-size: 14px;
  line-height: 23px;
}
.price-description .pricelist1 .finalprice {
  font-weight: 600;
}
.price-description .pricelist1 .finalprice span {
  font-weight: 300;
  display: block;
  padding: 10px 0 0;
  color: #ababab;
}
.custpadding {
  padding: 0 30px;
}
.hit-the-road-fullinfo {
  /* position: fixed; */
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 999;
  background: #ffffff;
}
.close-htr1 {
  z-index: 9999;
  padding: 15px;
  position: absolute;
  top: 70px;
  right: 0;
  margin: 0;
}
.close-htr1 img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.rv400-pagination {
  color: #847a7a;
  background: transparent;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  z-index: 99;
  padding: 15px;
  position: absolute;
  top: 10px;
  left: 30px;
  text-transform: uppercase;
}
#videoblock {
  max-width: 100%;
  border: 0;
  box-shadow: none;
}
#videoblock .modal-dialog {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  float: none;
  position: absolute;
  border-radius: 0;
  border: none;
  box-shadow: none;
}
#videoblock .modal-content.lightboxvideo {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: rgba(255, 255, 255, 0.92);
  padding: 0;
}
#videoblock .closemodal {
  position: absolute;
  width: 50px;
  top: 0;
  right: 7px;
  z-index: 9999;
  cursor: pointer;
}
#videoblock .modal-body {
  padding: 0;
  height: 100vh;
  overflow: hidden;
}
#videoblock .modal-body #custvideo {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 999;
  object-fit: cover;
}
.rightbar_slide picture img {
  height: 100vh;
  object-fit: cover;
  width: 100%;
}
.slide_text {
  position: absolute;
  top: 100%;
  transform: scale(0.9);
  opacity: 0.3;
  color: #ffffff;
  width: 45%;
  left: 10%;
}
.slide_text.slide_tnew {
  color: #000000;
  margin: auto;
  right: unset;
  left: 7%;
  top: 50% !important;
  width: 35%;
  text-align: left;
}
.slide_text.black_txt {
  color: #000;
}
.rv300tyresec {
  width: 35% !important;
  margin: 0 auto;
  left: 35% !important;
  text-align: center !important;
}
.slide_text h4 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 16px;
}
.slide_text p {
  font-size: 16px;
  margin-bottom: 0px;
  line-height: 26px;
}
.slide_text h3 {
  font-weight: 700;
  font-size: 22px;
  padding: 10px 0 15px 0;
}
.slide_tnew.suspension-caption {
  color: #ffffff;
  text-align: left !important;
  right: 7% !important;
  left: auto;
}
.slide_tnew.Combination-Braking {
  left: 0;
  right: 0;
  margin: auto;
  top: 19% !important;
  text-align: center !important;
  background: #ffffff;
}
.owl_cstm_style
  .swiper-wrapper
  .swiper-slide.swiper-slide-active
  .slide_text.sld_btm_center {
  bottom: 65px;
  top: initial;
  left: 0px;
  right: 0;
  margin: 0pc auto;
}
.frame_img_sec {
  text-align: center !important;
}
.owl_cstm_style
  .swiper-wrapper
  .swiper-slide.swiper-slide-active
  .slide_text.power_gen_rv300 {
  top: 17%;
  right: 9%;
  left: initial;
  text-align: left;
  width: 35%;
}
.owl_cstm_style
  .swiper-wrapper
  .swiper-slide.swiper-slide-active
  .slide_text.the_seat {
  top: 25%;
  right: 10%;
  left: initial;
  text-align: left;
  color: #000;
}
.owl_cstm_style
  .swiper-wrapper
  .swiper-slide.swiper-slide-active
  .slide_text.push_electric {
  left: 12%;
  right: 0;
  margin: 0px auto;
}
.slide_text.sld_btm_center h4,
.slide_text.the_seat h4,
.slide_text.push_electric h4 {
  text-transform: initial;
}
.owl_cstm_style
  .swiper-wrapper
  .swiper-slide.swiper-slide-active
  .slide_text.sld_adjuster_sec {
  bottom: 5%;
  top: initial;
  left: 10%;
}
.pedal_mode {
  display: flex;
  margin-top: 30px;
  width: 240px;
}
.pedal_mode a {
  display: block;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  text-transform: uppercase;
  width: 50%;
  text-align: center;
  border: 1px solid #808080;
  margin-right: 5px;
}
.pedal_mode a.active {
  background: #000;
  border: 1px solid #000;
  margin-right: 5px;
}
.owl_cstm_style .owl-nav {
  position: absolute;
  left: 50%;
  bottom: 40px;
  z-index: 99;
}
.owl_cstm_style .owl-nav button:focus {
  outline: none;
}
.owl_cstm_style .owl-nav button.owl-next span {
  border: 1px solid gainsboro;
  background: url(../images/sliderdown.jpg) center center no-repeat #fff;
  background-size: 18px;
  font-size: 0px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  display: block;
  line-height: 42px;
  border-radius: 50%;
  color: transparent;
  font-weight: 500;
  transition: 0.3s;
}
.owl_cstm_style .app-slier-mobile .owl-nav {
  position: static;
}
.owl_cstm_style .app-slier-mobile .owl-nav button span {
  background: url("../images/arrow-Grey.png") no-repeat left top;
  font-size: 24px;
  background-size: 30px;
  color: #000000;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: block;
  line-height: 30px;
  border-radius: 50%;
  font-size: 0;
  transition: 0.3s;
}
.owl_cstm_style .app-slier-mobile .owl-nav button.owl-next span {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari prior 9.0 */
  transform: rotate(180deg); /* Standard syntax */
  border: 0;
}
.swiper-container {
  width: 100% !important;
  height: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.swiper-slide {
  text-align: center !important;
  font-size: 18px !important;
  background: #fff !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  -webkit-justify-content: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  -webkit-align-items: center !important;
  align-items: center !important;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute !important;
  top: initial !important;
  width: 40px !important;
  height: 40px !important;
  top: initial !important;
  left: initial !important;
  right: initial !important;
  bottom: initial !important;
  margin-top: 0 !important;
  z-index: 10 !important;
  cursor: pointer !important;
  background-size: 27px 44px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-color: #fff !important;
  background-size: 12px !important;
  border-radius: 50% !important;
}
.swiper-button-prev {
  left: 50% !important;
  bottom: 20px !important;
  transform: rotate(270deg) !important;
}
.swiper-button-next {
  left: 50% !important;
  top: 20px !important;
  transform: rotate(-90deg) !important;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  display: none;
}
.swiper-container-vertical > .swiper-pagination-bullets {
  right: 40px !important;
}
.swiper-container-vertical
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  width: 15px !important;
}
.swiper-pagination-bullet {
  background: #cccccc !important;
  opacity: 1 !important;
  width: 9px !important;
  height: 9px !important;
}
.swiper-pagination-bullet-active {
  background: #ff2f28 !important;
}
.owl_cstm_style .swiper-wrapper .swiper-slide.swiper-slide-active .slide_text {
  animation: 2s 1s fadeInUp both !important;
  transform: scale(1) !important;
  top: 45%;
  opacity: 1 !important;
}
.digital-ins-sec {
  width: 45% !important;
  margin: 0 auto;
}
.rightbar_slide {
  width: 100%;
}
.rightbar_slide h4.slide_ttl {
  position: absolute;
  top: 8%;
  color: #fff;
  left: 0;
  right: 0;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;
}
.rightbar_slide h4.slide_ttl:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2.5px;
  background: #fff;
  bottom: -12px;
  right: 0;
  left: 0;
  margin: 0px auto;
}
.rightbar_slide h4.slide_ttl.txtBlck {
  color: #000;
}
.rightbar_slide h4.slide_ttl.txtBlck:after {
  background: #000;
}
.slide_text.ergonomics {
  top: 50%;
  width: 100%;
  padding: 0px 15px;
  transform: translate(0px, -50%);
  left: 0;
  right: 0;
  margin: 0px auto;
  opacity: 1;
}
.slide_text.ergonomics p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 0;
}
.slide_text.left_center {
  text-align: left;
}
.slide_text.theadjuster {
  top: 10% !important;
  transform: translate(0px, -10%) !important;
  width: 100%;
  left: 0;
}
.adjusterbox-outer {
  background: #000000;
}
.adjusterbox-wrap .adjusterbox {
  width: 54%;
}
.adjusterbox-wrap .adjusterbox h4,
.adjusterbox-wrap .adjusterbox p {
  text-align: left;
  padding-left: 15%;
}
.adjusterbox-wrap .adjusterbox:nth-child(2) {
  width: 35%;
}
.adjusterbox-wrap .adjusterbox img {
  width: 70%;
  max-width: 70%;
}
.video_bg_sld {
  background: #fff;
}
.txt_vdo_itm {
  position: relative;
}
.txt_vdo_itm > div {
}
.txt_vdo_itm .sld_vdo {
  width: 80%;
  margin: 0 auto;
}
.tightalign-video {
  width: 100% !important;
  margin: 0;
  position: relative;
  right: -210px;
}
.leftalign-video {
  width: 100% !important;
  margin: 0;
  position: relative;
  left: -210px;
  bottom: -9px;
}
.txt_vdo_itm .sld_vdo video {
  width: 80%;
}
.txt_vdo_itm .sld_txt {
  width: 450px;
  color: #000;
  margin: 0 auto 30px;
}
.txt_vdo_itm .sld_txt.powerhouse {
  position: absolute;
  bottom: 0px;
}
.txt_vdo_itm .sld_txt.powerhouse.left_center,
.txt_vdo_itm .sld_txt.Balanced-right.left_center {
  text-align: left;
}
.txt_vdo_itm .sld_txt.Balanced-right {
  position: absolute;
  top: 20%;
  right: -3%;
}
.txt_vdo_itm .sld_txt.sld_txtFll {
  width: 100%;
}
.txt_vdo_itm .sld_txt h4 {
  font-size: 28px;
  margin-bottom: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.txt_vdo_itm .sld_txt p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 0;
}
.ledlighting-tab {
  position: absolute;
  top: 15%;
  width: 100%;
}
.ledlighting-txt {
  color: #ffffff;
}
.slide_tabs_wrp .tabbar_sld_ftr.Headlamp-nav {
  bottom: 60%;
  width: 400px;
  right: 100px;
  background: transparent;
  border: 1px solid #414142;
}
.slide_tabs_wrp .tabbar_sld_ftr.Headlamp-nav li {
  background: transparent;
}
.slide_tabs_wrp .tabbar_sld_ftr.Headlamp-nav li a {
  color: #ffffff;
  border-right: 1px solid #414142;
}
.slide_tabs_wrp .tabbar_sld_ftr.Headlamp-nav li.active {
  background: #ffffff;
  color: #000000;
  font-weight: 700;
  position: relative;
}
.slide_tabs_wrp .tabbar_sld_ftr.Headlamp-nav li.active:after {
  top: 98%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 15px;
  margin-left: -15px;
}
.slide_tabs_wrp .tabbar_sld_ftr.Headlamp-nav li.active a {
  color: #000000;
}
.slide_text.Headlamptext {
  width: 400px;
  right: 100px;
  left: auto;
}
.owl_cstm_style
  .swiper-wrapper
  .swiper-slide.swiper-slide-active
  .slide_text.Headlamptext.top {
  top: 22%;
}
.owl_cstm_style
  .swiper-wrapper
  .swiper-slide.swiper-slide-active
  .slide_text.Digital-instrument {
  left: 0;
  right: 0;
  margin: auto;
  top: 10%;
  text-align: center;
}
.bikelinkes123 {
  text-align: center;
  margin-left: 10px !important;
}
.bikelinkes123 a,
.bikelinkes123 a:hover,
.bikelinkes123 a:focus {
  padding: 16px;
  text-align: center;
  color: #fff;
  background: #000;
  width: 160px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  text-decoration: none;
  display: block;
  margin: 0 auto;
}
.bikelinkes123.gray a,
.bikelinkes123 a:hover,
.bikelinkes123 a:focus {
  padding: 16px;
  text-align: center;
  color: #fff;
  background: #000;
  width: 160px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  display: inline-block;
  text-decoration: none;
  margin: 0 auto;
}
.bike-innerpage-switch {
  margin: 26px 0 20px;
  position: relative;
}
.rv400-bike-btn {
  margin: -80px 0 20px;
}
.bike-innerpage-switch .colorname {
  position: absolute;
  top: -75px;
  bottom: 0;
  z-index: 999;
  color: #000;
  width: 232px;
  text-align: left;
  left: 0;
  right: 0;
  margin: auto;
  height: 20px;
  font-size: 14px;
}
.bike-innerpage-switch .rv300bike li {
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  list-style: none;
  font-size: 15px;
}
.bike-innerpage-switch .rv300bike li:first div {
  border-right: none;
}
.bike-innerpage-switch .rv300bike li div span {
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  box-shadow: none !important;
  border-radius: 0;
  display: block;
  margin: 0 auto;
  outline: 0;
}
.bike-innerpage-switch .rv300bike li.rv300grey div span {
  border: 1px solid gray !important;
  background: gray !important;
}
.bike-innerpage-switch .rv300bike li.rv300black div span {
  border: 1px solid black !important;
  background: black !important;
}
.bike-innerpage-switch .rv300bike li.rv300grey.active div {
  background: gray !important;
  border: 1px solid gray !important;
}
.bike-innerpage-switch .rv300bike li.rv300black.active div {
  background: black !important;
  border: 1px solid black !important;
}
.bike-innerpage-switch .rv300bike li div,
.bike-innerpage-switch .rv400bike li div {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
}
.bike-innerpage-switch .rv300bike li.active div span {
  display: none;
}
.bike-innerpage-switch .rv300bike li.active div span.nobgcrl {
  display: block;
  color: #fff;
  text-align: center;
}
.rv300bike li div span.nobgcrl {
  display: none;
}
.tempgap {
  padding: 35px 0;
  height: 70px;
}
.slide_tabs_wrp {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}
.sld_tb_img {
  align-items: flex-start;
}
.sld_tb_img .rightbar_slide picture img {
  width: 100%;
}
.slide_tb_cnt,
.hide_mbl_676 {
  display: flex;
  width: 86%;
  margin: 0px auto;
  justify-content: space-between;
}
.sld_tb_txt {
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
}
.sld_tb_txt .fixed_txt h4 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 26px;
}
.sld_tb_txt .fixed_txt p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}
.tabbar_sld_ftr {
  display: block;
}
.tabbar_sld_ftr li a {
  font-size: 14px;
  padding: 11px 0 11px;
  border-bottom: 1px solid gainsboro;
  color: #000;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
}
.tabbar_sld_ftr li a.active {
  color: #00a4a5;
}
.tb_btn_arw li a.active:after {
  /* content: "054"; */

  font-size: 12px;
  position: absolute;
  right: -22px;
  top: 50%;
  transform: translate(0px, -50%);
  font-weight: 400;
}
.sld_tb_txt .app_txt_btm h6 {
  color: #000;
  padding: 10px 0 10px 0;
  font-size: 16px;
  border-bottom: 1px solid gainsboro;
  display: block;
}
.sld_tb_txt .app_txt_btm p {
  font-size: 18px;
  line-height: 28px;
}
.sld_tb_app {
  width: 68%;
}
.sld_tb_app img {
  width: 100%;
  max-width: 265px;
  min-width: 265px;
}
.sld_mbl_scrn_view {
  display: flex;
  align-items: center;
}
.tab_txt_view {
  margin-left: 65px;
}
.tab_txt_view p {
  text-align: left;
  font-size: 18px;
  line-height: 34px;
  font-weight: 500;
  color: #00a4a5;
}
.slide_tabs_wrp > div {
  width: 100%;
}
.slide_tabs_wrp .tabbar_sld_ftr {
  position: absolute;
  bottom: 0;
  border-top: 1px solid gainsboro;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  background: #fff;
}
.sld_tb_img .tabbar_sld_ftr {
  border-top: 1px solid black;
}
.slide_tabs_wrp .tabbar_sld_ftr li {
  width: 100%;
  cursor: pointer;
}
.slide_tabs_wrp .tabbar_sld_ftr li.active {
  background: #000;
}
.slide_tabs_wrp .tabbar_sld_ftr li.active a {
  color: #fff;
  border-right: 1px solid transparent;
}
.slide_tabs_wrp .tabbar_sld_ftr li a {
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  padding: 16px 0 12px;
  border-right: 1px solid gainsboro;
  font-weight: 700;
}
.stiky-footer {
  display: none;
}
.slide_crs_mbl {
  display: block;
  width: 100%;
  padding: 0px 15px;
  margin-top: 10px;
}
.slide_crs_mbl .carousel-inner {
  width: 200px;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
  height: 375px;
  border-radius: 25px;
}
.slide_crs_mbl .carousel-inner:after {
  position: absolute;
  content: "";
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/mobile-frame-mobile-view.png) no-repeat top left;
  background-size: 100% 100%;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
}
.slide_crs_mbl .carousel-item img {
  width: calc(100% - 10px);
  height: 350px;
  position: relative;
}
.slide_crs_mbl .carousel-indicators {
  position: static;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}
.slide_crs_mbl .carousel-indicators li {
  display: none;
  width: 100%;
  box-sizing: initial;
  height: initial;
  padding: 0;
  margin: 0;
  color: #000;
  text-indent: unset;
}
.slide_crs_mbl .carousel-indicators li h5 {
  font-size: 16px;
}
.slide_crs_mbl .carousel-indicators li p {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  color: #00a4a5;
}
.slide_crs_mbl .carousel-control-next,
.slide_crs_mbl .carousel-control-prev {
  color: #000;
  height: 60px;
  top: 160px;
}
.slide_crs_mbl .carousel-control-next i,
.slide_crs_mbl .carousel-control-prev i {
  border: 1px solid #8e8e8e;
  padding: 15px 15px 12px 15px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: none;
  color: #8e8e8e;
}
.slide_crs_mbl .carousel-indicators li.active {
  display: block;
}
.slide_position_no {
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;
}
@media only screen and (max-width: 959px) {
  .txt_vdo_itm .sld_txt {
    width: 80%;
    text-align: center;
  }
  .txt_vdo_itm .sld_txt.powerhouse.left_center,
  .txt_vdo_itm .sld_txt.Balanced-right.left_center {
    text-align: center;
  }
  .txt_vdo_itm .sld_vdo {
    width: 62%;
  }
  .leftalign-video,
  .tightalign-video {
    width: 62% !important;
    margin: 0 auto !important;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
  }
  .txt_vdo_itm .sld_txt h4 {
    font-size: 20px;
  }
  .txt_vdo_itm .sld_txt p {
    font-size: 14px;
  }
  .txt_vdo_itm .sld_txt p br {
    display: none;
  }
}
.flexEffect {
  background-attachment: fixed;
}
.txt_vdo_itm.l_full-outer {
  display: block;
}
.txt_vdo_itm.l_full-outer .l_video-55 {
  margin: 0 auto;
}
.txt_vdo_itm.l_full-outer .l_full-100 {
  width: 100%;
}
.l_full-100-second {
  width: 100%;
  display: block;
  text-align: center;
}
.regular_text {
  text-transform: unset !important;
}
.txt_vdo_itm .sld_vdo.vd_width_100 {
  width: 100%;
}
#manuvering_05 {
  object-position: -140px 0;
}
.floating_text {
  position: absolute;
  top: 20%;
  right: 5%;
}
.slide_text.ergonomics .right_position-hub {
  position: absolute;
  right: 8%;
  text-align: left;
  width: 430px;
  margin: 0px auto;
}
.top_pos-20 {
  top: 20% !important;
}
.top_pos-10 {
  top: 10% !important;
}
.cus_center-left {
  text-align: center;
  width: 100%;
  max-width: 410px;
  left: 0;
  right: 0;
  bottom: 10%;
  margin: auto;
}
#rv300-bikeswitch {
  margin: 30px 0;
  border: none;
  display: block !important;
}
.rv300-bike-switch ul {
  padding: 0;
  margin: 30px 0;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .plugin-charge {
    top: 10px;
  }
  .sld_responsive {
    position: absolute !important;
    top: 50% !important;
    transform: translate(0px, -50%) !important;
    animation: initial !important;
  }
  .rv1VideoSection .hit-the-road-fullinfo {
    height: auto;
    overflow: inherit;
    background: none;
  }
}
@media only screen and (max-width: 768px) {
  .hd_mbl_vw_btn {
    display: none;
  }
  .rightbar_slide picture img {
    height: auto;
    min-height: 280px;
    min-height: 250px;
    max-height: 250px;
  }
}
@media only screen and (max-width: 736px) {
  .txt_vdo_itm {
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
    margin: 0px auto;
  }
  .txt_vdo_itm .sld_vdo {
    width: 100%;
    margin-bottom: 20px !important;
  }
  .txt_vdo_itm .sld_vdo video {
    width: 100%;
  }
  .txt_vdo_itm .sld_txt {
    width: 100%;
  }
  .txt_vdo_itm .sld_txt h4 {
    font-size: 18px;
  }
  .txt_vdo_itm .sld_txt p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 420px) {
  .txt_vdo_itm {
    width: 100%;
  }
  .mbl_vw_flw .expnow {
    background: #fff;
    color: #000;
    padding: 10px;
  }
  .mbl_vw_flw .expnow:hover {
    background: none;
    border: 1px solid #fff;
    color: #fff;
  }
  .txt_vdo_itm .sld_vdo video {
    width: 100%;
  }
  .leftalign-video,
  .tightalign-video {
    width: 100% !important;
    margin: 20px auto !important;
  }
}
.owl_sld_right a.nav-link.active {
  height: auto;
  padding: 10px;
}
.requestride {
  padding: 20px;
  border-radius: 10px;
  border: solid 2px #dcdee1;
  margin-bottom: 30px;
}
.bookingride ul li {
  padding: 20px;
  border-bottom: solid 2px #f1f3f6;
  font-size: 18px;
  cursor: pointer;
}
.dashboard .media {
  background: #fff;
  padding: 9px;
  border-radius: 10px;
  padding-top: 12px;
  padding-bottom: 1px;
}
.dashboard .media h5.mt-0 {
  color: #6d6e71;
  font-size: 16px;
}
.bookingride ul li:hover {
  color: #ed1c24;
}
.dashboard .media p {
  font-weight: bold;
}
.bookingride ul li span {
  font-weight: 600;
}
.bookingride ul {
  border-bottom: solid 4px #cdcfd1;
  border-radius: 10px;
}
.bookingride ul li:last-child {
  border-radius: 10px;
}
.bookingride {
  background: #fff;
  margin-top: 20px;
  border-radius: 10px;
}
.requestid {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
}
.requestride h4 {
  color: #ed1c24;
  font-weight: 600;
}
.requestride h5 {
  color: #929295;
  font-size: 1em;
  margin-top: 20px;
}
.requestride p {
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
}
.requestride h3 {
  font-size: 17px;
}
.tablerideT table {
  width: 100%;
}
.tablerideT td.fwtd {
  font-weight: 700;
}
.tablerideT td {
  line-height: 30px;
}
.editcancel a {
  border-radius: 5px;
  background: #ed1c24;
  color: #fff;
  padding: 10px 20px;
}
.personalinfo td {
  line-height: 35px;
}
.personalinfo h5 {
  font-weight: 700;
  margin-bottom: 20px;
  float: left;
  clear: both;
  overflow: initial;
  width: 500px;
}
.modelfour.rvmodelfour h6 {
  font-weight: bold;
  color: #000;
}
.modelfour.rvmodelfour h5 {
  font-size: 26px;
  font-weight: normal;
  color: #6d6e71;
  padding-top: 20px;
  font-weight: 500;
  margin-bottom: 0;
}
.modelfour.rvmodelfour h1 {
  font-weight: 800;
}
.rvbooking {
  border: solid 1px #dcdee1;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 40px;
}
ul.bookinglunckow li {
  display: inline-block;
  padding-left: 15px;
  padding-top: 25px;
}
.bookwrap {
  background: #ed1c24;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.rvbooking-confirm {
  border: solid 1px #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dashboard a {
  color: #000;
}
h4.float-right.editoption {
  color: #ed1c24;
  font-size: 16px;
  text-decoration: underline;
}
.dashboard li.active {
  color: #ed1c24;
}
.cancelled a {
  background: #58595b;
}
